.bg-color {
    background-color: #f2f0ef;

}
.explore-header{
    color: wheat;
    font-size: 45px;
    padding: 50px 0px 50px 0px;
    transition: 8s;
    background-image: linear-gradient( 135.9deg,  rgba(109,25,252,1) 16.4%, rgba(125,31,165,1) 56.1% );
}
.card-style {
    transition: 0.8s;
}

.card-style:hover {
    border: 1px solid rgb(8, 219, 235);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    /* color: white; */
}

.btn-grad {
    background-color: rgb(76, 175, 80);
    border: 0;
}


